#form {
    
    display: flex;
    color: coral;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container {
    
    text-align: center; 
     margin: auto;
     margin-top: 50px;    
     margin-bottom: 50px;    
    backdrop-filter: blur(5px);
    /* position: relative; */
    max-width: 1200px;

    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    
    
}
h1{
    color: #8d6e63;
}
#block1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#components{

    margin: auto;
    backdrop-filter: blur(10px);
    padding: 45px;
    border-radius: 6px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
 
}

#button {
    color: white;
}

#List{
    text-align: left;
    list-style-type:disc;    
    margin-bottom: 25px;
}