
/* .form-demo{
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 15px;
    padding: 10px;
    margin: auto; */
/* } */

.form-demo Typography{
    font-family: 'orb';
}
#block{
    margin:50px ;
    font-family: 'Times New Roman', Times, serif;
    
}
#reg{
    backdrop-filter: blur(10px);
    color: #18d046;
    max-width: 600px;
    width: 100%;
    padding: 80px;
    margin: auto;
    margin-top: 75px ;   
    margin-bottom: 75px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    
    text-align:center;
}
